[user]
	email = elliot.dohm@shopify.com
	name = Elliot Dohm
[core]
	attributesfile = /Users/elliotdohm/.gitattributes
	compression = 0
[alias]
	cob = "checkout -b"
	recent = "branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\""
	s = "status"
	d = "diff"
	rh = "reset --hard origin/master"
	co = "checkout"
	ls = "log --pretty=format:"%C(yellow)%h%Cred%d\\ [%ad]\\ %Creset%s%Cblue\\ [%cn]" --decorate --stat --date=human"
[commit]
	verbose = true
[interactive]
	singleKey = true
[status]
	showUntrackedFiles = all
[hub]
	protocol = ssh
[pull]
	rebase = true
[http]
	postBuffer = 1048576000
[include]
	path = /Users/elliotdohm/.config/dev/gitconfig
