[user]
	email = elliot.dohm@shopify.com
	name = Elliot Dohm
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!f() { if [ $# -eq 0 ]; then git push -u origin $(git branch-name); elif [ $1 == '-f' ]; then git push --force-with-lease origin $(git branch-name); fi }; f"
	cob = "checkout -b"
	s = "status"
	d = "diff"
	rh = "reset --hard origin/master"
	co = "checkout"
	rbm = "!git rebase -i origin/master"
	branch-sort = "!f() { [ $1 == 'desc' ] && __dir='-'; git branch --all --sort=${__dir}committerdate --color=always | head -n20; }; f"
	ls = "log --pretty=format:"%C(yellow)%h%Cred%d\\ [%ad]\\ %Creset%s%Cblue\\ [%cn]" --decorate --stat --date=human"
[commit]
	verbose = true
[interactive]
	singleKey = true
[status]
	showUntrackedFiles = all
[diff]
	algorithm = patience
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[http "https://git-mirror.shopifycloud.com"]
	cookieFile = /tmp/galaxy.cookies
	saveCookies = true
