*.c     diff=cpp
*.h     diff=cpp
*.c++   diff=cpp
*.h++   diff=cpp
*.cpp   diff=cpp
*.hpp   diff=cpp
*.cc    diff=cpp
*.hh    diff=cpp
*.css   diff=css
*.html  diff=html
*.go    diff=golang
*.py    diff=python
*.md    diff=markdown
*.rb    diff=ruby
*.erb   diff=ruby
*.rake  diff=ruby
*.rs    diff=rust
*.ts    diff=typescript
*.js    diff=javascript
